<ion-view title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
    
      <div class="item item-avatar item-icon-left">
        <i class="icon ion-disc"></i>
        <h2>Average</h2>
        <p>km/l</p>
      </div>  
      
      <div class="item item-image">
        <img src="http://placehold.it/300x300">
      </div>

    </div>
	<button class="button button-full icon-right ion-power" ng-class="button.class" ng-click="toggle()">
	  {{button.text}}
	</button>
  </ion-content>
</ion-view>